.detect {
  .result {
    position: relative;

    .rectangle {
      position: absolute;
      border: 3px solid #61f283;

      &__name {
        font-size: 5rem;
        color: crimson;
        left: 40px;
        bottom: -60px;
      }
    }
  }
}
